body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 2em;
}

nav,.page-footer{
    background-color: #55505C;
}

.page-footer{
    padding: 20px 0;
}